{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Système de messagerie</title>
    <script src="{% static 'js/java.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz_styles.css' %}">
</head>
<body>
    <div id="menu">
        <h2>Conversations</h2>
        <ul id="conversations">
				{% for item in question_list %}
               		<li data-conversation-id="conversation{{ forloop.counter }}">{{ item }}</li>
            	{% endfor %}
            
        </ul>
        
    </div>

    <div id="messages">
        <!-- Les messages de la conversation seront affichés ici -->
    </div>
<form id="message-form">
        <input type="text" id="message-input" placeholder="Tapez votre message ici" required>
        <button type="submit">Envoyer</button>
    </form>

</body>

</html>