* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#menu {
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    overflow-y: auto;
}

#conversations {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

#conversations li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#conversations li:hover {
    background-color: #eee;
}

#messages {
    width: 75%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #e6e6e6;
    padding: 20px;
    overflow-y: auto;   
    display: flex;
    flex-direction: column;
}

#message-form {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f0f0f0;
    width: 75%;
    padding: 10px;
}
.you {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: fit-content;
    border-bottom: 8px;
    margin-bottom: 10px;
}

.teacher {
align-self: flex-start;
background-color: #f1f1f1;
padding: 8px;
border-radius: 5px;
width: fit-content;
border-bottom: 8px;
margin-bottom: 10px;
}