/* font-family: 'Roboto', sans-serif; */
body {background-color: #ffffff;}

html{
    display: flex;
    align-items: center;
    text-align: center;
}

header{
    font-family: 'Roboto';
    text-align: center;
}
.intro{
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
font-stretch: 85;
    
}

p {color: white;
    font-family: 'Roboto', sans-serif;
}

header{
    display:flex;
    justify-content: center;
    margin-right: 1em;
    background-color: rgb(40, 39, 39);
    
}
.header1{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    align-items: center;
}
container img + p{
    margin-left: 40px;
}
.btn_quizz{
    display: flex;
    position: relative;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-inline: auto;
    padding: 10px ;
    
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
font-stretch: 85;
background: #4570AE;
border-radius: 20px;
}
