/* Styles for container */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Styles for sidebar */
.col-sm-2 {
  background-color: #f8f9fa;
  padding: 15px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a {
  color: #333;
  text-decoration: none;
  margin: 0 10px; /* Add margin between items */
  padding: 10px 15px; /* Add padding for a button-like look */
  border-radius: 5px; /* Add rounded corners */
  background-color: #f8f9fa; /* Add background color */
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.sidebar-nav a:hover {
  background-color: #007bff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

/* Styles for main content */
.col-sm-10 {
  padding: 15px;
  min-height: 100vh;
}

/* Styles for pagination */
.pagination {
  margin-top: 20px;
}

.page-links {
  display: flex;
  justify-content: center;
}

.page-links a {
  margin: 0 5px;
  color: #333;
  text-decoration: none;
}

.page-links a:hover {
  color: #007bff;
}